@font-face {
  font-family: 'iaiproducticons';
  src: url('fonts/iaiproducticons.woff2') format('woff2'),
       url('fonts/iaiproducticons.woff') format('woff'),
       url('fonts/iaiproducticons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iaiproducticons {
  font-family: 'iaiproducticons', sans-serif;
}
