@font-face {
  font-family: 'iaiproducticons';
  src:  url('fonts/iaiproducticons.eot?paeejr');
  src:  url('fonts/iaiproducticons.eot?paeejr#iefix') format('embedded-opentype'),
    url('fonts/iaiproducticons.ttf?paeejr') format('truetype'),
    url('fonts/iaiproducticons.woff?paeejr') format('woff'),
    url('fonts/iaiproducticons.svg?paeejr#iaiproducticons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iaiproducticons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-extract:before {
  content: "\e000";
}
.icon-minute:before {
  content: "\e001";
}
.icon-parlex:before {
  content: "\e002";
}
