@font-face {
  font-family: 'iaiproducticons';
  src: url('fonts/iaiproducticons.eot') format('eot'),
       url('fonts/iaiproducticons.woff') format('woff'),
       url('fonts/iaiproducticons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iaiproducticonfont {
  font-family: 'iaiproducticon', sans-serif;
}
