@font-face {
  font-family: 'iaiproducticons';
  src:  url('fonts/iaiproducticons.eot?om56ok');
  src:  url('fonts/iaiproducticons.eot?om56ok#iefix') format('embedded-opentype'),
    url('fonts/iaiproducticons.ttf?om56ok') format('truetype'),
    url('fonts/iaiproducticons.woff?om56ok') format('woff'),
    url('fonts/iaiproducticons.svg?om56ok#iaiproducticons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iaiproducticons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Extract .path1:before {
  content: "\e021";
  color: rgb(0, 0, 0);
}
.icon-Extract .path2:before {
  content: "\e029";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Extract .path3:before {
  content: "\e02a";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-Extract .path4:before {
  content: "\e02b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Extract .path5:before {
  content: "\e02c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Minute .path1:before {
  content: "\e022";
  color: rgb(0, 0, 0);
}
.icon-Minute .path2:before {
  content: "\e023";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Minute .path3:before {
  content: "\e024";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Minute .path4:before {
  content: "\e025";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Minute .path5:before {
  content: "\e026";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Minute .path6:before {
  content: "\e027";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Minute .path7:before {
  content: "\e028";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Parlex .path1:before {
  content: "\e020";
  color: rgb(0, 0, 0);
}
.icon-Parlex .path2:before {
  content: "\e02d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Parlex .path3:before {
  content: "\e02e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Parlex .path4:before {
  content: "\e02f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Parlex .path5:before {
  content: "\e030";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
